/* .container {
  width: 300px;
  height: 300px;
  background-image: url("/images/coffee.jpg");
  background-repeat: no-repeat;
  background-position: center;
} */
/* .container {
  linear-gradient (#eb01a5, #d13531);
} */

.HeaderOne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 15px;
  text-transform: uppercase;
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
}
.paperOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.HeaderTwo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 15px;
  text-transform: uppercase;
  animation-name: moveInRight;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
